@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Orbitron:wght@500&display=swap');
:root {
  --mainheader-primary-bgcolor: #00c473;
  --logo-font: 'Orbitron', sans-serif;
  --main-heading-font: 'Dongle', sans-serif;
  --main-body-bg: #ddfcff;
}